<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Play | Free Tailwind CSS Template for Startup and SaaS By TailGrids
  </title>

</head>

<body>
  <!-- ====== Features Section Start -->
  <section class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
    <div class="container">
        <h1>Product Detail</h1>
        <h2><a href="/products/<%=item.id %>"><%=item.title %></a></h2>
        <p><%=item.description %></p>
        <span>Price : <%=item.price%> Baht</span>
    </div>
  </section>

</body>

</html>